﻿@model VirtualFortune.Web.Models.VirtualFortuneCookie
@{
    const string title = "Virtual Fortune Cookie";
    ViewData["Title"] = title; 
}

<article>
    <header><h2>@title</h2></header>
    <p>@Model.Fortune</p>
    <footer>@DateTime.Today.ToShortDateString()</footer>
</article>
